In [1]:
import requests
import matplotlib.pyplot as plt
import json
import pandas as pd

In [2]:
with open('keys.json') as fi:
    credentials = json.load(fi)
api_key = credentials['api_key']

In [3]:
url = 'https://api.census.gov/data/2020/acs/acs5/subject?get=NAME,S0101_C01_001E&for=tract:*&in=state:47&in=county:037&key={0}'.format(api_key)

In [25]:
response = requests.get(url)

In [26]:
response

In [27]:
# Function that sends data to dataframe
def json_to_df(response):
    
    return pd.DataFrame(response.json()[1:], columns=response.json()[0])

In [28]:
res=json_to_df(response)

In [29]:
res.columns = ['Name', 'Population', 'state', 'county', 'tract']
res

,Name,Population,state,county,tract
0,"Census Tract 190.04, Davidson County, Tennessee",4470,47,037,019004
1,"Census Tract 190.07, Davidson County, Tennessee",2904,47,037,019007
2,"Census Tract 190.08, Davidson County, Tennessee",6005,47,037,019008
3,"Census Tract 191.05, Davidson County, Tennessee",5707,47,037,019105
4,"Census Tract 191.06, Davidson County, Tennessee",4336,47,037,019106
...,...,...,...,...,...
169,"Census Tract 189.01, Davidson County, Tennessee",3280,47,037,018901
170,"Census Tract 189.02, Davidson County, Tennessee",2704,47,037,018902
171,"Census Tract 189.04, Davidson County, Tennessee",3410,47,037,018904
172,"Census Tract 189.05, Davidson County, Tennessee",3292,47,037,018905
173,"Census Tract 190.03, Davidson County, Tennessee",4427,47,037,019003

In [9]:
res['Population'] = res['Population'].astype(int)
res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174 entries, 0 to 173
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        174 non-null    object
 1   Population  174 non-null    int64
 2   state       174 non-null    object
 3   county      174 non-null    object
 4   tract       174 non-null    object
dtypes: int64(1), object(4)
memory usage: 6.9+ KB

In [10]:
Total = res['Population'].sum()
print(Total)

690540

In [11]:
url2 = 'https://api.census.gov/data/2020/acs/acs5/subject?get=NAME,S1901_C01_012E&for=tract:*&in=state:47&in=county:037&key={0}'.format(api_key)

In [30]:
response2 = requests.get(url2)
response2

In [13]:
res2=json_to_df(response2)
res2

,NAME,S1901_C01_012E,state,county,tract
0,"Census Tract 190.04, Davidson County, Tennessee",44001,47,037,019004
1,"Census Tract 190.07, Davidson County, Tennessee",48485,47,037,019007
2,"Census Tract 190.08, Davidson County, Tennessee",50512,47,037,019008
3,"Census Tract 191.05, Davidson County, Tennessee",48271,47,037,019105
4,"Census Tract 191.06, Davidson County, Tennessee",65323,47,037,019106
...,...,...,...,...,...
169,"Census Tract 189.01, Davidson County, Tennessee",47500,47,037,018901
170,"Census Tract 189.02, Davidson County, Tennessee",75286,47,037,018902
171,"Census Tract 189.04, Davidson County, Tennessee",61750,47,037,018904
172,"Census Tract 189.05, Davidson County, Tennessee",65960,47,037,018905
173,"Census Tract 190.03, Davidson County, Tennessee",44349,47,037,019003

In [14]:
res2.columns = ['Name', 'median_income', 'state', 'county', 'tract']
res2

,Name,median_income,state,county,tract
0,"Census Tract 190.04, Davidson County, Tennessee",44001,47,037,019004
1,"Census Tract 190.07, Davidson County, Tennessee",48485,47,037,019007
2,"Census Tract 190.08, Davidson County, Tennessee",50512,47,037,019008
3,"Census Tract 191.05, Davidson County, Tennessee",48271,47,037,019105
4,"Census Tract 191.06, Davidson County, Tennessee",65323,47,037,019106
...,...,...,...,...,...
169,"Census Tract 189.01, Davidson County, Tennessee",47500,47,037,018901
170,"Census Tract 189.02, Davidson County, Tennessee",75286,47,037,018902
171,"Census Tract 189.04, Davidson County, Tennessee",61750,47,037,018904
172,"Census Tract 189.05, Davidson County, Tennessee",65960,47,037,018905
173,"Census Tract 190.03, Davidson County, Tennessee",44349,47,037,019003

In [31]:
census_tracts = pd.merge(res, res2, how='inner')
census_tracts

,Name,Population,state,county,tract,median_income
0,"Census Tract 190.04, Davidson County, Tennessee",4470,47,037,019004,44001
1,"Census Tract 190.07, Davidson County, Tennessee",2904,47,037,019007,48485
2,"Census Tract 190.08, Davidson County, Tennessee",6005,47,037,019008,50512
3,"Census Tract 191.05, Davidson County, Tennessee",5707,47,037,019105,48271
4,"Census Tract 191.06, Davidson County, Tennessee",4336,47,037,019106,65323
...,...,...,...,...,...,...
169,"Census Tract 189.01, Davidson County, Tennessee",3280,47,037,018901,47500
170,"Census Tract 189.02, Davidson County, Tennessee",2704,47,037,018902,75286
171,"Census Tract 189.04, Davidson County, Tennessee",3410,47,037,018904,61750
172,"Census Tract 189.05, Davidson County, Tennessee",3292,47,037,018905,65960
173,"Census Tract 190.03, Davidson County, Tennessee",4427,47,037,019003,44349

In [32]:
census_tracts['median_income'] = census_tracts['median_income'].astype(int)
census_tracts.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 173
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           174 non-null    object
 1   Population     174 non-null    object
 2   state          174 non-null    object
 3   county         174 non-null    object
 4   tract          174 non-null    object
 5   median_income  174 non-null    int64
dtypes: int64(1), object(5)
memory usage: 9.5+ KB

In [33]:
census_tracts = census_tracts[census_tracts['median_income'] > 0]
census_tracts

,Name,Population,state,county,tract,median_income
0,"Census Tract 190.04, Davidson County, Tennessee",4470,47,037,019004,44001
1,"Census Tract 190.07, Davidson County, Tennessee",2904,47,037,019007,48485
2,"Census Tract 190.08, Davidson County, Tennessee",6005,47,037,019008,50512
3,"Census Tract 191.05, Davidson County, Tennessee",5707,47,037,019105,48271
4,"Census Tract 191.06, Davidson County, Tennessee",4336,47,037,019106,65323
...,...,...,...,...,...,...
169,"Census Tract 189.01, Davidson County, Tennessee",3280,47,037,018901,47500
170,"Census Tract 189.02, Davidson County, Tennessee",2704,47,037,018902,75286
171,"Census Tract 189.04, Davidson County, Tennessee",3410,47,037,018904,61750
172,"Census Tract 189.05, Davidson County, Tennessee",3292,47,037,018905,65960
173,"Census Tract 190.03, Davidson County, Tennessee",4427,47,037,019003,44349

In [34]:
census_tracts.to_csv('census_tracts.csv')